[sip-refused]
enabled  = true
filter   = sip-refused
# port     = 5060
logpath	 = /var/log/sipwall
bantime = $BAN_TIME_SECONDS
findtime = $FAIL_TIME_WINDOW_SECONDS
maxretry = $FAIL_COUNT_IN_WINDOW
action = iptables-ipset-proto4
# banaction = iptables-multiport
