[sipwall-country]
enabled  = true
filter   = sipwall-all-filter
logpath	 = /var/log/sipwall-inout
bantime = $BAN_TIME_SECONDS
findtime = $FAIL_TIME_WINDOW_SECONDS
maxretry = $FAIL_COUNT_IN_WINDOW
action = sipwall-country-action[name=sipwall-country]
