[sipwall]
enabled  = true
filter   = sipwall-filter
logpath	 = /var/log/sipwall
bantime = $BAN_TIME_SECONDS
findtime = $FAIL_TIME_WINDOW_SECONDS
maxretry = $FAIL_COUNT_IN_WINDOW
action = sipwall-action[name=sipwall]

