[sipwall-country]
enabled  = true
filter   = sipwall-all-filter
logpath	 = /var/log/sipwall-inout
bantime = $BAN_TIME_SECONDS
findtime = 60
maxretry = 0
action = sipwall-country-action[name=sipwall-country]
