[sipwall-country-dst]
enabled  = true
filter   = sipwall-dst-filter
logpath	 = /var/log/sipwall-inout
bantime = $BAN_TIME_SECONDS
findtime = 60
maxretry = 0
action = sipwall-country-action[name=sipwall-country]
